<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ convertToDate({ dt: forecastData.dt }) | date: dateFormat}}</h3>
	</div>
	<div class="panel-body">
		Temperature: {{ convertToStandard({ tempReq: forecastData.main.temp }) }}
	</div>
</div>