<h2>Forecast for {{ weatherResults.city.name}}:</h2>

<p><a href="#/"> Back to search </a></p>

<hr />

Number: 
<a href="#/forecast/2" ng-class="{ 'bg-primary':number === '2' }">2</a> | <a href="#/forecast/5" ng-class="{ 'bg-primary':number === '5' }">5</a>
| <a href="#/forecast/7" ng-class="{ 'bg-primary':number === '7' }">7</a> 

<div ng-repeat="w in weatherResults.list">
	<div class="row">
		<div class="col-md-12">
			<weather-report forecast-data="w" 
			convert-to-standard="convertToCelcius(tempReq)" 
			convert-to-date="getDate(dt)" 
			date-format="MMM d, y"></weather-report>
		</div>
	</div>
</div>